<div class="card-body">
  <form class="form-horizontal needs-validation" [formGroup]="forma"
    novalidate autocomplete="off" (submit)="updatePassword();" >
    <div class="form-group">
      <div class="col-xs-12 text-center">
        <div class="user-thumb text-center">
          <img alt="thumbnail" class="img-circle" width="100" src="../assets/images/users/{{ data[2] }}">
          <h3>
            {{ data[0] }} {{ data[1] }}
          </h3>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <input class="form-control" formControlName="password"
          [ngClass]="{ 'is-invalid' : forma.get('password').invalid, 'is-valid' : forma.get('password').valid }"
          type="password" placeholder="* Contraseña actual">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <input class="form-control" formControlName="password2" 
          [ngClass]="{ 'is-invalid' : forma.get('password2').invalid, 'is-valid' : forma.get('password2').valid }"
          type="password" placeholder="* Nueva contraseña">
          <div *ngIf="forma.get('password2').hasError('existe')" 
            class="invalid-feedback">La nueva contraseña no debe ser igual a la actual.</div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <input class="form-control" formControlName="password3" 
          [ngClass]="{ 'is-invalid' : forma.get('password3').invalid, 'is-valid' : forma.get('password3').valid }"
          type="password" placeholder="* Repetir contraseña">
        <div *ngIf="forma.get('password3').hasError('existe')" 
            class="invalid-feedback">Las contraseñas debe ser identica</div>
      </div>
    </div>
    <div class="form-group text-center">
      <div class="col-12">
        <button [disabled]="forma.invalid"
          class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
          type="submit">Resetear contraseña</button>
      </div>
    </div>
  </form>
</div>
